@model BlogWebsite.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleThumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleThumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticlePriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticlePriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
